<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <appender name="ConsoleOut" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%r | %d{dd-MM-yyyy HH:mm:ss} | %level | %logger-%thread --> %msg%n</pattern>
        </encoder>
    </appender>

    <timestamp key="date" datePattern="dd-MM-yyyy"/>

    <appender name="FileOut" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs//SApp_${date}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>SApp_%d{dd-MM-yyyy}.log.zip</fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%r | %d{dd-MM-yyyy HH:mm:ss} | %level | %logger-%thread --> %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="ConsoleOut"/>
        <appender-ref ref="FileOut"/>
    </root>
<!--    <root level="DEBUG">-->
<!--        <appender-ref ref="ConsoleOut"/>-->
<!--        <appender-ref ref="FileOut"/>-->
<!--    </root>-->
</Configuration>